html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(61, 59, 59);
  color: aliceblue;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 60px;
}

.App {
  height: 100%;
  width: 100%;
}

/* Company Details Page */

.company-page {
  background-color: var(--blue);
  font-family: "Roboto", sans-serif;
  padding: 4rem;
}

.company-details {
  position: relative;
  display: flex;
  color: white;
  font-size: 1rem;
  max-width: 1280px;
  margin: 0 auto 0 auto;
}

.company-title {
  display: flex;
  align-items: center;
}
.company-content {
  flex: 1;
  padding-left: 2rem;
}

.company-content .title {
  font-size: 4rem;
  line-height: 1.6;
  margin-right: 1rem;
}

.movie-content .description {
  font-size: 1.8rem;
  line-height: 1.2;
}
